{% extends 'base.html' %}

{% block head %}

  <title>Login</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

{% endblock %}

{% block body %}

  <div class="container">
    <div class="form-div" action="/login">
      <form method="POST">
        <input id="form-username-field" placeholder="Username" type="text" name="username" required></br>
        <input id="form-password-field" placeholder="Password" type="password" name="password" required></br>
        <input value="Login" type="submit" id="form-login-button">
      </form>
      <a href="/signup">Not a user? Click here.</a>
    </div>
  </div>

{% endblock %}
