{% extends 'base.html' %}

{% block head %}

  <title>Login</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

{% endblock %}

{% block body %}

  <div class="container">
    <div class="form-div">
      <form method="POST">
        <input placeholder="Email" type="email" name="email"></br>
        <input placeholder="Password" type="password" name="password"></br>
        <input value="Login" type="submit">
      </form>
    </div>
  </div>

{% endblock %}
