{% extends 'base.html' %}

{% block head %}

<title>Logs :: {{username}}</title>
  <meta charset="utf-8">

  <link rel="stylesheet" href={{ url_for('static', filename='css/logs.css')}}>
{% endblock %}

{% block body %}

  <div class="container">

    <div id="navigation">
      <a href="/deposit">Deposit</a>
      <a href="/withdraw">Withdraw</a>
      <a href="/logout">Logout</a>
    </div>

    <h2>Balance: {{balance}}</h2>

    <div class="logs flexcol">

      <div class="tags flexrow">

        <div>ID</div>
        <div>Amount</div>
        <div>Reason</div>
        <div>Timestamp</div>

      </div>

      <div class="messages flexcol">

        {% for log in logs %}

          {% set id = log[0] %}
          {% set amount = log[1] %}
          {% set reason = log[2] %}
          {% set timestamp = log[3] %}

          <div class="flexrow wrappables log-cont">

            <div class="log">{{loop.index}}</div>

            <div class="log">{{amount}}</div>

            <div class="log">{{reason}}</div>

            <div class="log">{{timestamp}}</div>

          </div>

        {% endfor %}

      </div>

    </div>

  </div>

{% endblock %}
